.historyPopUp{
	position:relative;
	z-index:100;
	border:1px solid #1e1e1e;
	margin:auto auto;
	margin-top: 130px;
	width:600px;
	background:#f6f6ef;
}

.historyOverlay{
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(0,0,0,0.2);
	top: 0;
	left: 0;
}

.historyPopUp .tipHead{
	padding-left:10px;
	color:black;
	font-weight:bold;
	height:24px;
	line-height:24px;
	background:#ff6600;
}

.historyPopUp .tipBody{
	padding:10px;
}

